@font-face {
    font-family: Roboto;
    src: url("/src/font/Roboto-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d2a35;
    font-family: 'Roboto', sans-serif;
    color:white;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #04AA6D;
    border-radius: 10px;
}

.nav-links a {
    margin-right: 10px;
    color:black;
}

.nav-links {
    margin-left: 2%;
}

.nav-media {
    margin-right: 2%;
}

.wellcome {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}

#headline {
    font-size: 60px;
    color: #04AA6D;
}

.place-holder {
    height: 150px;
}

.short-about-me {
    font-size: 16px;
}

.stack-items {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stack {
    margin-bottom: 50px;
}

.stack-items div {
    border-style: solid;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border-color: #253543;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    user-select: none;
    display: flex;
    justify-content: center;
}

.stack-items div:hover {
    background-color: #253543;
    height: 45px;
}

div[class*='entry-container'] {
    display: none;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    background-color: #253543;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    height: max-content;
}

.entry-header {
    font-size: 20px;
}

.headline {
    margin-left: 20%;
    color: #04AA6D;
    font-size: 30px;
}

.first-entry-container {
    margin-bottom: 30px;
}

#date-item {
    font-size: 13px;
}

.header-One {
    color: white;
}

#more-button {
    color: #04AA6D;
}

#details {
    display: none;
}

#blog-page {
    display: none;
}

.topic-table {
    float: right;
    margin-right: 5%;
    border-color: #253543;
    border-style: solid;
    border-radius: 10px;
    width: 15%;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    border-width: 5px;
}

.topic-table th {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 3px;
}

.topic-table a {
    color: white;
}

#topic-headline {
    font-size: 30px;
    color: #04AA6D;
}

.seperator {
    background-color: #253543;
    border: none;
    height: 5px;
}

.entry-frame {
    margin-top: 5%;
    margin-left: 24%;
    margin-right: 24%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #253543;
}

.text-content {
    margin: 5px;
    font-size: 16px;
}

